:root{
    --black:#000000;
    --black-sads:#333;
--brand-red: #f00;
--white:#ffffff;
--yellow:#ffb400;
--yellow-sads:#e09900;
--gray:#727476;
--light-gray:#F6F6F6;
--gray-sads:#EFEFEF;
--blue:#7336fe;
}
/* Brand Color's */
$brand-primary: #F23D18;
$brand-success:#F23D18;
$brand-accent:#F23D18;
$brand-accenttwo:#F23D18;
$brand-accentthree:#F23D18;
$brand-success:#F23D18;
$brand-error:#F23D18; 
$brand-background:#F23D18; 
$brand-black:#F23D18; 
$brand-white:#F23D18; 
